<footer>
  <h2>External Links</h2>
  <p> <a href="http://sunpools.com/">SunPools</a>  |  <a href="http://www.bluehawaiianfiberglasspools.com/">BlueHawaiianFiberglassPools</a>  |  <a href="http://southernstructuresinc.com/">Southern Structures</a> </p>
</footer>